<launch>

    	<rosparam command="load" file="$(find seguimiento)/config/parametros.yalm" />  

	<node
		pkg="blender_control"
		type="ros_blender_bridge.py"
		name="ros_blender_bridge"
		output="screen"
		launch-prefix="xterm -e" >
	</node>

	<node
		pkg="blender_control"
		type="gestion_gestos.py"
		name="gestion_gestos"
		output="screen"
		launch-prefix="xterm -e" >
	</node>

	<node
		pkg="seguimiento"
		type="testComportamiento.py"
		name="testComportamiento"
		output="screen">
	</node>
</launch>

